<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enviando un archivo al navegador</title>
</head>
<body>
  <h1>Hola Mundo!</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti velit possimus quasi, fugit aperiam at modi praesentium, fugiat, voluptate architecto vitae ducimus omnis id soluta deserunt eius sit earum hic.
  Ratione suscipit quae nobis, est modi, perferendis, reiciendis alias neque quod molestiae eaque possimus dolore maxime hic ducimus non at incidunt id porro voluptatibus similique sequi. Odio earum natus voluptate!
  Quod aspernatur, facere consectetur laudantium tempora nulla id harum perspiciatis officia praesentium eligendi rem amet asperiores? Amet quidem molestias consequuntur tempora illum, provident reiciendis laboriosam illo sapiente quod perspiciatis suscipit!
  Ducimus, dolor libero velit in illo porro quae vero aspernatur repellat vel labore, molestias suscipit dolore qui minus praesentium quam optio a temporibus nulla ipsa delectus ipsam aut! Aspernatur, maiores.
  Iusto placeat fuga porro, laboriosam incidunt illum! Sint earum saepe ipsa blanditiis vero, debitis amet officiis, minus cum reprehenderit ab ullam itaque? Pariatur quidem perferendis autem sit dolorum. Itaque, amet.
  Laborum sit consequatur quo recusandae, enim rerum qui, iste harum distinctio vitae, quam quibusdam numquam fuga quos placeat natus saepe minus illo magnam ab quis eaque id! Nobis, impedit quaerat.
  Similique cupiditate, fuga possimus reiciendis temporibus itaque odit fugiat explicabo? Non saepe magni veniam voluptate natus repudiandae doloribus atque suscipit laborum distinctio impedit, amet molestias ut iusto hic? Repudiandae, in!
  Dolorum assumenda omnis rem odio dolor corporis accusamus sit voluptates provident ducimus. Facere molestiae in cumque eos provident quod, praesentium, iure eligendi repudiandae optio architecto qui et, accusantium consectetur dolorum!
  Tempora eos quis reprehenderit amet nobis voluptate! In ad illo voluptate atque corporis voluptatum odio. Ea, culpa adipisci, nostrum minus itaque laboriosam quae asperiores, cumque aspernatur natus quo consectetur voluptate!
  Dolorum architecto vel exercitationem explicabo sit, accusamus cupiditate, porro nam eligendi doloribus ipsum pariatur laudantium! Deleniti inventore vel officiis ad repellat recusandae fuga laboriosam, voluptates quia sunt repudiandae voluptate eaque!
  Doloremque, illo esse odit beatae numquam voluptatum tenetur dicta ad nulla accusantium, quibusdam accusamus dolor vero veritatis asperiores nisi quidem adipisci temporibus expedita tempore! Autem perferendis ullam deleniti corporis nobis?
  Impedit dolores debitis laborum assumenda facere, quae nostrum, quisquam earum dolorum perspiciatis est molestias nesciunt nam tenetur, vitae magni ut nemo natus ullam velit culpa eaque consequuntur! Rerum, quisquam asperiores?
  Aliquid quae cupiditate, aliquam labore eius deserunt, facere expedita, dolorem alias inventore eveniet est? Non sed perspiciatis aut dolore provident, quos pariatur, ipsam recusandae quas, ipsum ex! Ut, excepturi voluptas!
  Non incidunt placeat vitae, quam ullam temporibus nesciunt fuga consequatur repellendus laboriosam, molestias excepturi natus magnam, perferendis inventore. Assumenda consequuntur harum magni ullam dolorum. Ipsa ducimus ut exercitationem optio fugit.
  Dolorum consequatur, asperiores ut minima enim non laudantium obcaecati pariatur. Impedit reprehenderit excepturi repellat error. Iure quae consectetur rerum quisquam omnis inventore, ipsum labore esse dicta fugiat, voluptas incidunt praesentium!
  Unde blanditiis numquam optio maiores, ipsum placeat aut, explicabo nulla tempore voluptatibus quisquam. Magnam laborum ducimus alias aliquid error deleniti incidunt saepe consectetur culpa, suscipit accusantium possimus, non, maiores sapiente.
  Dolor nihil rem provident! Optio repellendus enim necessitatibus aspernatur exercitationem eum non ducimus laudantium rem totam, dolor doloremque mollitia recusandae in quidem eligendi quod commodi. Totam corporis amet quae est.
  At alias beatae similique magnam distinctio modi, aliquid voluptatem corporis. Esse facilis a possimus quasi porro, minus ea aspernatur quibusdam inventore, repudiandae vero deleniti alias iste tempore, corrupti ratione ab?
  Eaque cum, dolores debitis rerum aliquid voluptas. Eius iure quam provident voluptates nisi maxime cumque adipisci sint explicabo fuga? Qui exercitationem minus esse aliquam amet, possimus accusamus? Doloribus, similique ullam.
  Iste laudantium similique sed, repellat doloremque repellendus maxime illo alias voluptatibus facilis delectus necessitatibus et harum quisquam, dolorum perspiciatis tenetur deserunt sint, distinctio error iusto. Illo hic ea blanditiis voluptate?</p>
</body>
</html>